body {
    background-color: rgb(192, 56, 56);

}


.container {
    background-color: rgb(225, 197, 87);
    border-radius: 15px;
}

.container1 {
    

}

.container2 {
   font-size: 30px;
   height: 50px;
   text-align-last: center;
}

.